/*header*/
.forgot-password-header-row {
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 68px;
  background: white;
  z-index: 10;
}

.header-second-half{
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0;
}

.forgot-password-facebook-title {
  margin-top: 8px;
  margin-left: 1rem;
  font-size: 2.3rem;
  font-weight: bolder;
}

#forgot-password-email-phone, #forgot-password-password {
  display: flex;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  height: 22px;
  line-height: 16px;
  color: var(--secondary-text-color);
  width: 188px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-right: .7rem;
}

#forgot-password-email-phone:focus, #forgot-password-password:focus {
  outline-color: #1877f2;
}

div.btn {
  margin: 0 auto;
}

.forgot-password-log-in-btn {
  display: flex;
  margin: 0 auto;
  margin-top: .6rem;
  margin-bottom: .7rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  padding: 10px 14px;
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  color: white;
  border-radius: 6px;
  font-weight: bold;
}

div.forgot-account {
  display: flex;
  margin: 0 auto;
  margin-top: 1.4rem;
  margin-right: 1rem;
  color: #1877f2;
  font-size: 1rem;
  font-weight: 500;
}

/*body*/
.forgot-password-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  margin-top: 50%;
  margin-left: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10px;
  padding-top: 10px;

  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  width: 396px;
}

.forgot-password-hr {
  width: 108%;
  margin-left: -1rem;
}

.forgot-password-body> .row-1 {
  color: black;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.forgot-password-body> .row-2 {
  color: black;
  margin-top: .7rem;
  font-size: .85rem;
}

.forgot-password-body> .row-3 {
  display: flex;
  font-size: 17px;
  padding: 14px 16px;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  height: 22px;
  line-height: 16px;
  color: var(--secondary-text-color);
  margin-top: .7rem;
  margin-bottom: .7rem;
} 

.forgot-password-body> .row-4 {
  display: flex;
  justify-content: flex-end;
}

.forgot-password-body> .row-4> .search {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.forgot-password-body> .row-4> .cancel {
  font-size: 1rem;
  border-radius: 6px;
  background-color: var(--background-color);
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 9px;
  padding-top: 9px;
  border-color: var(--background-color);
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-right: .4rem;

}

[class^="row-"] {}