a {
  text-decoration: none !important;
}

.displayProject {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  padding-bottom: .5rem;
}

.box {
  width: 50%;
  max-height: 170px;
  padding: 12px 12px;
  margin: 2px 2px;
}

.btn.contact-me {
  text-align: left;
  border-radius: 50%;
  width: fit-content;
  padding: 18px 30px;
  color: darkorchid;
}

.homeProjects {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  margin: 0 auto;
  margin-left: 3rem;
  justify-content: center;
  color: white;
}

.info {
  text-align: center;
  color: white;
}

.primary {
  padding-top: 2rem;
  color: white;
  text-align: center;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.about-me,
.colorful,
.connect,
.projects-title
.project {
  color: darkorchid;
}

#know-me {
  color: black;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  width: fit-content;
  padding: 18px 30px;
}

.name {
  font-weight: bold;
  font-size: 24px;
  padding-top: 42rem;
}

.footer {
  list-style-type: none;
  margin: 0 auto;
}

.job {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 72px;
}

.back-pic {
  background-image: url(/images/crop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 30%;
  margin-left: 30%;

}

p {
  color: white;
  line-height: 1.5;
}

.project,
.colorful {
  text-align: center;
  font-size: 24px;
}

.rope {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/012/899/original/Top_Rope.jpg?1626221700);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 20%;
  margin-left: 20%;
}

.sky {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/016/288/original/pexels-paul-voie-2627945.jpg?1630290405);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 20%;
  margin-left: 20%;
}

.rope,
.sky {
  padding: 9% 75%;
  margin: 0 auto;
}

.websiteInfo, .websiteGoal {
  text-align: center;
  font-size: 1.5rem;
}


/*Footer*/
.fa-facebook {
  color: #2d88ff;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-github {
  color: rgb(240 246 252 / 70%);
}

ul {
  padding-left: 0px !important;
}

@media (max-width: 576px) {
  .location,
  .homeProjects,
  .footerName,
  .coded,
  .about-col {
    display: none;
  }

  .about-info,
  .about-name,
  .btn.contact-me {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .about-info,
  .about-name {
    padding: 2px;
  }

  .job,
  .about-name {
    font-size: 32px;
    font-weight: normal;
  }

  .project {
    font-size: 15px;
  }

  #know-me {
    font-weight: normal;
    border-radius: 50%;
  }

  .back-pic {
    margin-right: 5%;
    margin-left: 5%;
  }

  .name {
    padding-top: 4rem;
  }
}
