:root {
  --background-color: #f0f2f5;
  --main-text-color: #1c1e21;
  --secondary-text-color:#8a8d91;
  --blue-color: #1877f2;
  --green-color:  #42b72a;
}


body {
  display: flex;
  justify-content: center;
  background: var(--background-color);
  color: var(--main-text-color);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.34;
  align-items: center;
}


.App {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 500px;
}

[class^="box-"] {}